<div class="merchants-parent-container table-responsive">

    <div class="merchants-content-container">

        <div class="merchants-titel">
            <h1> Merchant Accounts Management</h1>
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"><p>Nr</p></th>
              <th scope="col"><p>Account Code</p></th>
              <th scope="col"><p>Account Status</p></th>
              <th scope="col" class="text-end">
                  <button type="button" class="col btn btn-success" routerLink="account"><a>Create</a></button>
              </th>
            </tr>
          </thead>
          <p>{{merchantAccounts$ | async | json}}</p>
          <tbody>
            <tr *ngFor="let item of (merchantAccounts$ | async); let i = index">
              <th scope="row"><p>{{ i + 1 }}</p></th>
              <td><p>{{ item.MerchantAccount.id }}</p></td>
              <td><p>{{ item.MerchantAccount.legalEntityName }}</p></td>
              <td class="text-end">
                  <button type="button" class="btn btn-primary" ><a>Edit</a></button>
              </td>
            </tr>
          </tbody>
        </table>

</div>