<div class="home-parent-container">

    <div class="titel-container">

        <h1 class="titel">Welcome to the Merchant Management Portal</h1>

    </div>

    <div class="content-container">

        <p>
            HaloHalosdasdloHalosdasdloHalosdasdloHalosdasdloHalosdasdlosdasdloHaloHalosdasdloHalosdasdloHalosdasdloHalosdasdloHalosdasdlosdasdloHaloHalosdasdloHalosdasdloHalosdasdloHalosdasdloHalosdasdlosdasdloHaloHalosdasdloHalosdasdloHalosdasdloHalosdasdloHalosdasdlosdasdloHaloHalosdasdloHalosdasdloHalosdasdloHalosdasdloHalosdasdlosdasdloHaloHalosdasdloHalosdasdloHalosdasdloHalosdasdloHalosdasdlosdasdlo HaloHalosdasdloHalosdasdloHalosdasdloHalosdasdloHalosdasdlosdasdlo
        </p>

    </div>

</div>